@tailwind base;
@tailwind components;
@tailwind utilities;
.btn-blue {
  @apply px-2 py-1 bg-blue-600 text-white rounded text-sm;
}
.btn-red {
  @apply px-2 py-1 bg-red-600 text-white rounded text-sm;
}
.btn-yellow {
  @apply px-2 py-1 bg-yellow-600 text-white rounded text-sm;
}
